/* ----Navbar---- */
.pipe {
  color: gray;
  display: flex;
  align-items: center;
  opacity: 30%;
  margin: 0 15px;
}

.main-nav-active {
  color: white;
}
.about-nav-active {
  color: white;
}
.projects-nav-active {
  color: white;
}
.contact-nav-active {
  color: white;
}

.fab {
  text-decoration: underline;
}

.fab:hover,
.icon:hover {
  color: blue !important;
}
